/* Toast */
.toat_container {
    display: felx;
    flex-direction: column;
}

.toast_title {
    margin: 10px;
}

.toast_error {
    color: #ff4b4b;
}

.toast_body {
    margin: 20px;
}

.toast_btn_wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tost_btn {
    margin-bottom: 10px;
    padding: 0.4em 1.3em !important;
}

/* login */
.login-form>h2 {
    padding-bottom: 30px;
}

.login-input {
    color: #fff !important;
    margin-bottom: 21.5px !important;
}

.login-input:focus {
    color: #fff;
}

.login-btn {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 10px;
}

.account-btn {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0px;
}

/* error */
.has-error {
    border-color: #ff4c4c !important;
}