/* login */
.login-form>h2 {
    padding-bottom: 30px;
}

.login-input {
    color: #fff !important;
    margin-bottom: 21.5px !important;
}

.login-input:focus {
    color: #fff;
}

.login-btn {
    width: 49%;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0px;
}

.account-btn {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0px;
}