/* main */
.animated-section::-webkit-scrollbar {
    width: 10px;
    background-color: #d5d6d7;
}

.animated-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(94, 47, 214, 0.8);
}

.animated-section::-webkit-scrollbar-thumb:hover {
    background-color: #5e2fd6;
}

.animated-section::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d5d6d7;
}

/* Toast */
.toast_bg {
    visibility: hidden;
}

.toast_bg.active {
    z-index: 2000;
    visibility: initial;
}

.toat_container {
    display: felx;
    flex-direction: column;
}

.toast_title {
    margin: 10px;
}

.toast_error {
    color: #ff4c4c;
}

.toast_body {
    margin: 20px;
}

.toast_btn_wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tost_btn {
    margin-bottom: 10px;
    padding: 0.4em 1.3em !important;
}

/* login */
.login-form>h2 {
    padding-bottom: 30px;
}

.login-input {
    color: #fff !important;
    margin-bottom: 21.5px !important;
}

.login-input:active {
    color: #fff;
}

.login-btn {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 10px;
}

.account-btn {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0px;
}

/* page */
.col-center {
    display: flex;
    justify-content: center;
}

.col-right {
    display: flex;
    justify-content: flex-start;
}

.edit-title {
    display: flex;
    justify-content: space-between;
}

/* about me */
.aboutme-text {
    height: 100%;
}

.aboutme-textarea {
    resize: none;
    height: 100% !important;
}

.aboutme-title-show,
.aboutme-title-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutme-title-edit pre {
    width: 100%;
    height: 145px;
    white-space: pre-wrap;
    font-family: 'Poppins', Helvetica, sans-serif;
}

.aboutme-title-btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.aboutme-title-btn-wrap button {
    margin-bottom: 0px;
}

.aboutme-title-btn-wrap pre {
    margin: 0px 10px 0px 0px;
}

.tech-stack-div {
    cursor: pointer;
}

.fun-fact-div>p {
    color: #d5d6d7;
}

.fun-fact-ul {
    display: flex;
    flex-wrap: wrap;
}

.fun-fact-li {
    width: max-content;
    display: flex !important;
    padding: 4px 10px !important;
    align-items: center;
}

.fun-fact-li>p {
    width: max-content;
    margin: 0 8px 0 0;
}

.fun-fact-li>p:last-child {
    margin: 0;
    cursor: pointer;
}

/* resume */
.resume-max-height {
    max-height: 300px;
    overflow-y: auto;
}

.skills-info.resume-max-height {
    max-height: 700px;
}

.resume-max-height::-webkit-scrollbar {
    width: 10px;
}

.resume-max-height::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(94, 47, 214, 0.8);
}

.resume-max-height::-webkit-scrollbar-thumb:hover {
    background-color: #5e2fd6;
}

.resume-max-height::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d5d6d7;
}

.clearfix.resume-education>.right-part>.right-part-title,
.clearfix.resume-experience>.right-part>.right-part-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clearfix.resume-education>.right-part>.right-part-title>span,
.clearfix.resume-experience>.right-part>.right-part-title>span {
    color: #d5d6d7;
    cursor: pointer;
}

.clearfix.resume-education>.right-part>.right-part-title>span:hover,
.clearfix.resume-experience>.right-part>.right-part-title>span:hover {
    color: #ff4c4c;
    font-weight: bold;
}

.clearfix.resume-education>.right-part>p {
    margin-bottom: 0;
}

.clearfix.resume-education>.right-part>a {
    margin-bottom: 10px;
}

.coding-skill>.skill-container {
    margin: 10px 0;
}

.MuiSlider-rail {
    height: 10px !important;
    background-color: #fff !important;
    border: 1px solid #5e2fd6;
    opacity: 1 !important;
    border-radius: 8px !important;
    box-sizing: border-box;
    padding: 0 2px;
}

.MuiSlider-track {
    height: 8px;
    border-radius: 9px;
    margin: 0 1px;
    background-color: #5e2fd6 !important;
    border: 2px solid #fff !important;
}

.MuiSlider-thumb {
    width: 18px !important;
    height: 18px !important;
    color: #5e2fd6 !important;
}

.MuiSlider-thumb:focus,
.MuiSlider-thumb:hover,
.MuiSlider-thumb:target,
.MuiSlider-thumb:focus-within,
.MuiSlider-thumb:focus-visible,
.MuiSlider-thumb:visited {
    box-shadow: 0px 0px 0px 7px rgba(94, 46, 214, 0.16) !important;
}

.MuiSlider-valueLabel {
    color: #222222 !important;
    border: 2px solid #d5d6d7;
    background-color: #fff !important;
    border-radius: 30px !important;
    line-height: 1.23 !important;
}

.css-nnid7-MuiSlider-valueLabel:before {
    transform: none !important;
}

/* setting */
.setting-form>div>.form-group>input,
.setting-form>div>.form-group>select {
    height: 50px !important;
}

.setting-photo-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-photo-group input {
    width: 50%;
}

.setting-photo {
    width: 300px;
}

.setting-photo img {
    width: 300px;
    height: 300px;
}

.setting-calendar {
    width: 100%;
    height: 100%;
}

.react-calendar__navigation {
    display: flex;
}

.react-calendar__century-view__decades__decade,
.react-calendar__decade-view__years__year,
.react-calendar__year-view__months__month,
.react-calendar__month-view__days__day {
    border-color: #d5d6d7;
    cursor: pointer;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #d5d6d7;
}

.react-calendar__month-view__weekdays__weekday {
    display: flex;
    justify-content: center;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #5e2fd6;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    color: #fff;
    border-color: #5e2fd6;
    background-color: #5e2fd6;
}

/* popup */
.aboutme-popup {
    height: 647px;
}

.aboutme-popup>div {
    height: 100%;
}

.aboutme-popup-div {
    height: 280px;
    padding: 10px 15px;
    cursor: pointer;
}

.aboutme-popup-div:hover,
.aboutme-popup-div.active {
    border: 3px solid #5e2fd6;
}

.aboutme-popup-con,
.resume-popup-con {
    width: 800px !important;
    height: 100%;
}

.aboutme-popup-con>div>.fun-fact:hover,
.resume-popup-con>div>.fun-fact:hover {
    transform: none;
    box-shadow: none;
}

.aboutme-popup-con>div>.fact-input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.resume-popup-con>div>.school-input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 10px;
}

.resume-popup-con>div>.school-input-div>.form-group-focus:last-child {
    margin-bottom: 0;
}

.resume-popup-con>div>.school-cal-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 21.5px;
}

.resume-popup-con>div>.school-cal-div>.school-cal-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resume-popup-con>div>.school-cal-div>.school-cal-input>div {
    width: 49.5%;
    margin-bottom: 0;
}

.resume-popup-con>div>.school-cal-div>.school-cal-input>div>label {
    z-index: 10;
}

.aboutme-popup-con>div>.fact-input-div>div {
    width: 88%;
    margin: 0;
}

.resume-popup-con>div>.school-input-div>.school-select {
    width: 20%;
    margin: 0;
}

.resume-popup-con>div>.school-input-div>.school-input {
    width: 70%;
    margin: 0;
}

.aboutme-popup-con>div>.fact-input-div>div>label,
.resume-popup-con>div>.school-input-div>div>label {
    z-index: 10;
}

.aboutme-popup-con>div>.fact-input-div>button,
.resume-popup-con>div>.school-input-div>button {
    margin: 0;
}

.aboutme-popup-con>div>.fact-ul-div {
    padding: 20px 10px;
}

.resume-popup-con>div>.school-ul-div {
    max-height: 600px;
    padding: 20px 10px;
}

.resume-popup-con>div>.school-ul-div.scroll {
    overflow-y: scroll;
}

.school-ul-div.scroll::-webkit-scrollbar {
    width: 10px;
}

.school-ul-div.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(94, 47, 214, 0.8);
}

.school-ul-div.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #5e2fd6;
}

.school-ul-div.scroll::-webkit-scrollbar-track {
    border-radius: 0 10px 10px 0;
    background-color: #d5d6d7;
}

.school-ul-div>.certificate-item.active {
    border: 2px solid #5e2fd6;
}

.school-ul-div.scroll>.certificate-item:hover {
    cursor: pointer;
    border: 2px solid #5e2fd6;
}

.school-ul-div>.certificate-item:last-child {
    margin-bottom: 0;
}

.experience-cal-div,
.certificate-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 21.5px;
}

.experience-cal-div>div,
.certificate-div>div {
    width: 100%;
}

.experience-cal-div>.experience-input,
.certificate-div>.certificate-input {
    margin-bottom: 0;
}

.experience-cal-div>.experience-cal-input>div {
    width: 49.5%;
    margin-bottom: 0;
}

.experience-cal-div>.experience-cal-input,
.certificate-div>.certificate-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-cal-div>.form-group-focus {
    margin-top: 11.5px;
    margin-bottom: 0;
}

.experience-cal-div>div>label,
.experience-cal-div>.experience-cal-input>div>label,
.certificate-div>div>label {
    z-index: 10;
}

.post-popup-con {
    width: 800px !important;
    height: 550px !important;
}

/* button */
.btn,
.button {
    cursor: pointer;
}

.btn-sm {
    height: 35px;
    font-size: 12px;
    padding: 8px 18px;
}

.btn-error,
.btn-error:hover {
    border-color: #ff4c4c;
}

.btn-error:hover,
.btn-error:active,
.btn-error:focus {
    background-color: #ff4c4c;
}

.btn-close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-close button {
    font-size: 25px;
    margin-bottom: 0px;
    color: #fff;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0 15px;
}

.btn-close button:hover {
    cursor: pointer;
    color: #5e2fd6;
}

.btn-edit {
    width: 25px;
    height: 25px;
    font-size: 25px;
}

.btn-edit:hover {
    cursor: pointer;
    color: #5e2fd6;
    transform: rotate(25deg);
}

input::file-selector-button {
    display: none;
}

/* error */
.has-error {
    border-color: #ff4c4c !important;
}